<%- include("../user/head.ejs") %>

<section>
    <h3 class="text-center"> Change Password</h3>
    <div class="modal-body w-100 d-flex justify-content-center align-items-center">
        <div class="card bg-glass" style="width: 30rem;">
            <div class="card-body px-4 py-5 px-md-5">
                <form action="/changePassword" method="post" id="formId">

                    <!-- cuurent password -->
                    <div class="form-outline mb-4">
                        <input type="text" id="currentpassword"
                            name="currentpassword"
                            placeholder="Current Password"
                            class="form-control" />
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="newpassword" name="newpassword"
                            placeholder="New Password" class="form-control" />
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="confirmpassword"
                            name="confirmpassword"
                            placeholder="Confirm Password"
                            class="form-control" />
                    </div>

                    <div id="errorMessage" class="text-center fw-bold mb-2 text-danger"></div>

                    <div  class="text-center text-danger">
                       <h6 class="text-center fw-bold text-danger">
                           <%=locals.context?context:""; %>
                       </h6>
                    </div>

                    <!-- Submit button -->
                    <button type="submit"
                        class="btn btn-primary btn-block mb-4 w-100" id="changePassword">
                        Change password
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="/user/js/changePassword.js"></script>