<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__nav__option">
        
        
        <a href="/cart"><i class="fa fa-shopping-cart text-dark" style="font-size:24px;"></i> 
            <% if (cartCount !== undefined && cartCount !== 0) { %>
                <span class="position-absolute text-white top-0 start-100 translate-middle badge rounded-pill bg-primary">
                        <%=cartCount  %>
                </span>
                <% } %>
        </a>
        
        <a href="/wishlist"><i class="fa fa-heart text-dark" style="font-size:24px;"></i> </a>
        <a href="/Profile"><i class="fa fa-user text-dark" style="font-size:24px;"></i> </a>
     
    </div>
    <a href="/shop" class="text-decoration-none fw-bold text-dark">SHOP</a>
    <div id="mobile-menu-wrap"></div>

</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header mb-1 mt-0" style="background-color:  RGB(223, 145, 138); box-shadow: 4px 4px 7px 3px rgba(0, 0, 0,0.25)">
   
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-lg-2 col-md-4">
                <div class="header__logo p-2" style="width: 4.5rem">
                    <a href="/" class="text-decoration-none"><img class="img-fluid" src="/user/assets/logo.png" alt="..." style="border-radius: 5rem;"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center p-3">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/shop" class="text-decoration-none text-white">SHOP</a></li>
                        <!-- <li>
                            <input type="search" name="search" id="search" placeholder="search" class="rounded form-control" style="width: 25rem;">
                        </li> -->
                        <li class="shop__sidebar__search" style="width: 20rem;">
                            <form action="/shop">
                                <input type="text" name="search" placeholder="Search..." class="w=100 border rounded">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4 col-md-3 d-none d-md-block">
                <div class="header__nav__option d-flex justify-content-center align-items-center    ">
                    <a href="/cart" class="fw-bold text-decoration-none mx-4 position-relative"><i class="fa fa-shopping-cart text-white" style="font-size:24px;"></i> 
                        <% if (cartCount !== undefined && cartCount !== 0) { %>
                        <span class="position-absolute text-white top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                <%=cartCount  %>
                        </span>
                        <% } %>

                    </a>
                    
                     <a href="/wishlist" class="fw-bold text-decoration-none mx-4" ><i class="fa fa-heart text-white " style="font-size:24px; "></i> </a>
                    <a href="/Profile"  class="fw-bold text-decoration-none  mx-4"><i class="fa fa-user text-white " style="font-size:24px;"></i> </a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->











<!-- 
 <div class="main-navbar shadow-sm sticky-top">
    <div class="top-navbar" style="background-color: rgb(221, 152, 146);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-3">
                    <div class="header__logo mt-0" style="width: 3rem;">
                        <a href="/"><img class="img-fluid" src="/user/assets/logo.png" alt="..." style="border-radius: 6rem;"></a>
                    </div>
                </div>
                <div class="col-md-1 mt-3">
                    <a href="/shop" class="text-light fw-bold text-decoration-none">SHOP</a>
                </div>
                <div class="col-md-4 my-auto">
                    <form role="search">
                        <div class="input-group">
                            <input type="search" placeholder="Search your product" class="form-control" />
                            <button class="btn bg-white" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 my-auto">
                    <ul class="nav justify-content-end">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-shopping-cart"></i> Cart 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-heart"></i> Wishlist 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Profile">
                                <i class="fa fa-user"></i> User 

                            </a>
                        </li>
                    </ul>
                </div> 
                
            </div>
        </div>
    </div>
    
</div>  -->