
<div class="container mt-5 mb-3">
    <div class="row border-top">
        <div class="col-md-4">
            <div class="border-right" style="min-height: 70vh;">
                <div class="card-body">
                    <a href="/profile" class="text-decoration-none">
                        <h6 class="card-text py-2 fw-bold">Profile Details</h6>
                    </a>
                    <a href="/orders&returns" class="text-decoration-none">
                        <h6 class="card-text py-2 fw-bold">Orders & Returns</h6>
                    </a>
                    <a href="/addresspage" class="text-decoration-none">
                        <h6 class="card-text py-2 fw-bold">Address</h6>
                    </a>
                    <a href="/wallet" class="text-decoration-none">
                        <h6 class="card-text py-2 fw-bold">Wallet</h6>
                    </a>
                    <!-- <a href="#" class="text-decoration-none">
                        <h6 class="card-text py-2 fw-bold">Referral link</h6>
                    </a> -->
                    <br><br>
                    <div class="col-md-12 w-100 text-center">
                        <a href="/logout" class="btn text-white fw-bold ls btn-block w-100 mx-auto" style="background-color:#c0130a;">LOGOUT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 pt-4">
            
