<%- include("../user/head.ejs") %>
    <%- include("../user/header.ejs") %>
        <section class="d-flex justify-content-center align-items-center main-div" style="min-height: 89.2vh">
            <div class="py-2 rounded-3 frm-div" >
                <form action="/register" class="d-flex flex-column frm-form" method="post" id="SignupValidate">
                    <h3 class=" mt-1 fw-bold text-center p-1">SIGNUP</h3>
                    <!-- <label for="">User Name</label> -->
                    <input type="text" id="username" name="username" placeholder="Username" class="border rounded border-dark my-2 form-control">
                    <!-- <label for="">Mobile Phone</label> -->
                    <input type="text" id="mobile" name="mobile" placeholder="Mobile Number" class="border rounded border-dark my-2 form-control ">
                    <!-- <label for="">Password</label> -->
                    <input type="password" id="password" name="password" placeholder="Password" class="border rounded my-2 form-control border-dark">
                    <!-- <label for="">confirm Password</label> -->
                    <input type="password" id="c_password" name="c_password" placeholder="Confim Password" class="border my-2 form-control  rounded border-dark">
                    <div class="d-flex justify-content-center text-danger fw-bold m-2" id="errorMessage"> </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="mt-4 btn fw-bold ls text-white w-100 ls" style="background-color:#c70261;">SIGN UP</button>
                    </div>
                </form>
                <div class="d-flex justify-content-center m-2">Already an account &nbsp;<a href="/login" class="text-danger fw-bold text-decoration-none">login</a></div>
            </div>
        </section>

        <script src="/user/js/signupValidation.js"></script>
